/*VARIABLES*/
/*MAPS*/
/*MIXINS*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

img {
  max-width: 100%; }

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10; }
  header .nav_exterior {
    background-color: #1D1C0D; }
    header .nav_exterior a {
      font-size: 1rem;
      font-family: "Oswald", sans-serif;
      color: aliceblue; }
      header .nav_exterior a .icon {
        width: 50px;
        height: 50px; }
      header .nav_exterior a h1 {
        font-size: 2rem;
        padding: 0 1rem;
        border-right: solid aliceblue; }
      header .nav_exterior a span {
        font-family: "Roboto Slab", serif;
        padding: 0 1rem;
        font-size: 1.5rem; }
    header .nav_exterior .bton_menur {
      border: solid 0.5rem #94935D;
      font-size: 1rem;
      margin: 0 auto; }
  header .nav_interior {
    background-image: url(../assets/img/f_menu_interior2.svg); }
    header .nav_interior .redes {
      width: fit-content;
      height: 50%;
      display: flex;
      align-items: center;
      border: solid 0.3rem #F2FF00;
      border-radius: 10rem;
      background-color: rgba(29, 28, 13, 0.8); }
      header .nav_interior .redes #what {
        color: #25D366; }
      header .nav_interior .redes a {
        font-size: 4rem;
        margin: 2rem;
        color: aliceblue;
        order: 2;
        transition: transform 600ms; }
        header .nav_interior .redes a:active {
          color: #F2FF00;
          transform: scale(1.5, 1.5); }
  header .nav_interior_menu a {
    font-size: 3rem;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    padding-right: 1rem;
    color: aliceblue; }
    header .nav_interior_menu a:active {
      color: #F2FF00; }
  header .nav_interior_menu .icon_menu {
    position: relative;
    top: -0.5rem;
    margin-right: 2rem;
    font-size: 2.5rem; }

/*RESPONSIVE*/
@media (min-width: 992px) {
  header .nav_exterior {
    background-color: #1D1C0D; }
    header .nav_exterior a {
      font-family: "Oswald", sans-serif;
      color: aliceblue; }
      header .nav_exterior a .icon {
        width: 100px;
        height: 100px; }
      header .nav_exterior a h1 {
        font-size: 3rem;
        padding: 0 1rem;
        border-right: solid aliceblue; }
      header .nav_exterior a span {
        font-family: "Roboto Slab", serif;
        padding: 0 1rem;
        font-size: 2rem; }
    header .nav_exterior .bton_menur {
      border: solid 0.3rem;
      color: #F2FF00;
      font-size: 2rem;
      margin-left: 45%; }
  header .nav_interior .redes a:hover {
    color: #F2FF00;
    transform: scale(1.5, 1.5); }
  header .nav_interior_menu a:hover {
    color: #F2FF00; } }

/* ESTILOS SLIDER */
.cont_slider {
  height: 60%;
  background-image: url(../assets/img/f_sliderb.jpg);
  background-size: cover;
  background-attachment: fixed; }
  .cont_slider .slider {
    width: 80%;
    padding-top: 12rem;
    padding-bottom: 2rem; }
    .cont_slider .slider .carousel-item {
      height: 50%; }
      .cont_slider .slider .carousel-item img {
        object-fit: contain; }

/* SECCION SOBRE MI */
.sobre__mi {
  min-height: 100rem;
  background-image: url(../assets/img/f_sliderb.jpg);
  background-size: cover; }
  .sobre__mi .sobre_mi_h2 {
    min-height: 20rem;
    background-image: url(../assets/img/f_sobremi.jpg);
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: 5%; }
    .sobre__mi .sobre_mi_h2 h2 {
      width: 90%;
      font-family: "Oswald", sans-serif;
      font-weight: 500;
      text-align: center;
      font-size: 3rem;
      text-transform: uppercase;
      letter-spacing: 15px;
      color: aliceblue;
      text-shadow: 5px 0px 1px #1D1C0D;
      border: aliceblue solid 0.5rem; }
  .sobre__mi .img_yo {
    height: 20rem;
    border-radius: 100px 0px 100px 0px;
    background-image: url(../assets/img/yo_c.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    margin-bottom: 5%; }
  .sobre__mi .sobre_mi_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 50%;
    padding: 2rem;
    margin-bottom: 5%;
    border: #1D1C0D solid 0.3rem; }
    .sobre__mi .sobre_mi_text p {
      font-family: "Roboto Slab", serif;
      font-weight: 600;
      color: #1D1C0D;
      font-size: 2rem;
      text-align: start; }
      .sobre__mi .sobre_mi_text p i {
        color: #1D1C0D;
        font-size: 4rem;
        background: #d6249f;
        background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
        border-radius: 1rem;
        margin-left: 1rem;
        transition: transform 600ms;
        animation-name: insta;
        animation-duration: 2s;
        animation-iteration-count: infinite; }

@keyframes insta {
  0% {
    transform: scale(1, 1); }
  50% {
    transform: scale(1.5, 1.5); }
  100% {
    transform: scale(1, 1); } }
        .sobre__mi .sobre_mi_text p i:hover {
          transform: scale(1.5, 1.5); }

/* SECCION PORTFOLIO */
#portfolio {
  min-height: 70rem;
  background-image: url(../assets/img/f_sliderb.jpg);
  background-size: cover;
  padding-bottom: 5%;
  overflow: hidden; }
  #portfolio .portfolio_h2 {
    min-height: 20rem;
    background-image: url(../assets/img/fondo_port.JPG);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: 1%; }
    #portfolio .portfolio_h2 h2 {
      width: 90%;
      font-family: "Oswald", sans-serif;
      font-weight: 500;
      text-align: center;
      font-size: 3rem;
      text-transform: uppercase;
      letter-spacing: 15px;
      color: aliceblue;
      text-shadow: 5px 0px 1px #1D1C0D;
      border: aliceblue solid 0.5rem; }
  #portfolio .porfolio_card a .card {
    border-radius: 1rem; }
  #portfolio .porfolio_card a:hover img {
    filter: contrast(100%); }
  #portfolio .porfolio_card a img {
    border-radius: 1rem;
    box-shadow: 5px 5px 3px #1D1C0D; }
  #portfolio .porfolio_card a h3 {
    width: 50%;
    border: aliceblue solid 0.3rem;
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase; }

@media (min-width: 992px) {
  .cont_slider {
    height: 100vh;
    margin-top: 3rem; }
  #portfolio .portfolio_h2 h2 {
    width: 30%;
    font-size: 5rem; }
  #portfolio .porfolio_card a:hover img {
    filter: contrast(100%); }
  #portfolio .porfolio_card a img {
    filter: contrast(50%);
    transition: all 600ms; }
  #portfolio .porfolio_card a h3 {
    width: 30%;
    border: aliceblue solid 0.3rem;
    text-align: center;
    font-size: 3.5rem;
    text-transform: uppercase;
    margin-top: 25%; }
  .sobre__mi .sobre_mi_h2 {
    margin-bottom: 1%; }
    .sobre__mi .sobre_mi_h2 h2 {
      width: 30%;
      font-size: 5rem; }
  .sobre__mi .img_yo {
    height: 40rem;
    box-shadow: 5px 5px 15px #1D1C0D; }
  .sobre__mi .sobre_mi_text p {
    font-size: 2.5rem; } }

footer {
  background-color: black;
  display: flex;
  flex-direction: column; }
  footer .footer__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3rem; }
    footer .footer__nav a {
      color: aliceblue;
      text-decoration: none;
      font-size: 3rem;
      letter-spacing: 5px;
      margin-bottom: 2rem; }
      footer .footer__nav a:active {
        color: #F2FF00; }
  footer .footer__redes {
    display: flex;
    justify-content: space-around; }
    footer .footer__redes a {
      font-size: 5rem;
      margin: 2rem;
      margin-bottom: 3rem;
      color: aliceblue;
      transition: transform 600ms; }
      footer .footer__redes a:active {
        color: #F2FF00;
        transform: scale(1.5, 1.5); }
  footer .footer__section__1 {
    min-height: 40px;
    background-color: #1D1C0D;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: aliceblue;
    padding: 2rem; }

/* responsive */
@media (min-width: 768px) {
  footer .footer__nav {
    flex-direction: row;
    justify-content: space-around;
    padding-top: 1rem; }
    footer .footer__nav a {
      width: fit-content;
      padding: 0.5rem;
      border: solid 0.3rem black;
      font-size: 2rem; }
      footer .footer__nav a:hover {
        color: #F2FF00;
        border-left: solid 0.3rem #fff; }
  footer .footer__redes {
    justify-content: center; }
    footer .footer__redes a {
      margin: 2rem; }
      footer .footer__redes a:hover {
        color: #F2FF00;
        transform: scale(1.5, 1.5); } }

.main__galeria {
  background-image: url(../assets/img/fondo_galeriab.jpg);
  padding: 5rem;
  padding-top: 50%;
  color: #1D1C0D; }
  .main__galeria .section__galeria h1 {
    width: 90vw;
    font-size: 500%;
    text-transform: uppercase;
    letter-spacing: 10px;
    margin-bottom: 5rem;
    padding: 1rem;
    font-family: "Oswald", sans-serif;
    border: #1D1C0D solid 0.5rem;
    letter-spacing: 5px; }
  .main__galeria .section__galeria p {
    font-size: 2rem;
    letter-spacing: 3px;
    font-family: "Roboto Slab", serif;
    font-weight: 600; }
    .main__galeria .section__galeria p a img {
      animation-name: insta;
      animation-duration: 2s;
      animation-iteration-count: infinite; }
  .main__galeria .section__galeria iframe {
    width: 25rem; }

/*RESPONSIVE*/
@media (min-width: 768px) {
  .main__galeria {
    padding-top: 10%; }
    .main__galeria .section__galeria p a img {
      transition: all 600ms; }
      .main__galeria .section__galeria p a img:hover {
        transform: scale(1.5, 1.5); }
    .main__galeria .section__galeria .hover_img iframe {
      width: 60rem;
      height: 30rem;
      border: solid 1rem black; }
    .main__galeria .section__galeria .hover_img img {
      transition: all 1s; }
      .main__galeria .section__galeria .hover_img img:hover {
        transform: scale(1.5, 1.5);
        cursor: pointer; } }

.main__contacto {
  min-height: 80rem;
  background-image: url(../assets/img/f_sliderb.jpg);
  background-size: cover; }
  .main__contacto .main_contacto_h2 {
    min-height: 20rem;
    background-image: url(../assets/img/f_contactob.jpg);
    background-position: bottom;
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: 1%; }
    .main__contacto .main_contacto_h2 h2 {
      width: 90%;
      font-family: "Oswald", sans-serif;
      font-weight: 500;
      text-align: center;
      font-size: 3rem;
      text-transform: uppercase;
      letter-spacing: 15px;
      color: aliceblue;
      text-shadow: 5px 0px 1px #1D1C0D;
      border: aliceblue solid 0.5rem; }
  .main__contacto .contacto_info {
    padding: 1.5rem; }
    .main__contacto .contacto_info .contacto_text {
      min-height: 40rem;
      padding-top: 1rem;
      border: #1D1C0D solid 0.3rem;
      margin-bottom: 2rem; }
      .main__contacto .contacto_info .contacto_text p {
        font-size: 2rem;
        letter-spacing: 3px;
        font-family: "Roboto Slab", serif;
        color: #1D1C0D;
        text-align: start;
        font-weight: 600;
        padding: 1rem; }
      .main__contacto .contacto_info .contacto_text .link a {
        font-size: 5rem;
        color: #1D1C0D; }
      .main__contacto .contacto_info .contacto_text .link .link_wassap {
        display: flex;
        align-items: center; }
        .main__contacto .contacto_info .contacto_text .link .link_wassap h4 {
          font-size: 2rem;
          color: #1D1C0D;
          order: 2;
          letter-spacing: 5px; }
        .main__contacto .contacto_info .contacto_text .link .link_wassap a {
          transition: all 600ms; }
          .main__contacto .contacto_info .contacto_text .link .link_wassap a:active {
            color: #F2FF00;
            transform: scale(1.5, 1.5); }
      .main__contacto .contacto_info .contacto_text .link .link_email {
        display: flex;
        align-items: center; }
        .main__contacto .contacto_info .contacto_text .link .link_email h4 {
          font-size: 2rem;
          color: #1D1C0D;
          order: 2;
          letter-spacing: 1px; }
        .main__contacto .contacto_info .contacto_text .link .link_email a {
          transition: all 600ms; }
          .main__contacto .contacto_info .contacto_text .link .link_email a:active {
            color: #F2FF00;
            transform: scale(1.5, 1.5); }
  .main__contacto .contacto_maps {
    display: flex;
    align-items: center;
    justify-content: center; }
    .main__contacto .contacto_maps .map {
      min-height: 30rem;
      border-radius: 3rem;
      box-shadow: 0 0 15px #1D1C0D; }

/*RESPONSIVE*/
@media (min-width: 992px) {
  .main__contacto .main_contacto_h2 h2 {
    width: 30%;
    font-size: 5rem; }
  .main__contacto .contacto_info .contacto_text p {
    text-align: center;
    font-size: 2.5rem; }
  .main__contacto .contacto_info .contacto_text .link a {
    transition: all 600ms; }
    .main__contacto .contacto_info .contacto_text .link a:hover {
      color: #F2FF00;
      transform: scale(1.5, 1.5); } }
