/*VARIABLES*/
/*MAPS*/
/*MIXINS*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

img {
  max-width: 100%; }

body {
  width: 100vw; }

header {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 10; }
  header .nav_exterior {
    height: 7rem;
    background-color: #1D1C0D; }
    header .nav_exterior a {
      font-size: 3rem;
      font-family: "Oswald", sans-serif;
      color: aliceblue; }
    header .nav_exterior .bton_menur {
      border: solid 0.5rem #94935D;
      font-size: 2rem; }
  header .nav_interior {
    background-color: #94935D; }
    header .nav_interior .redes {
      display: flex;
      align-items: center; }
      header .nav_interior .redes #what {
        color: #25D366; }
      header .nav_interior .redes img {
        display: none;
        width: 160px;
        height: 160px;
        border: solid 10px aliceblue;
        border-radius: 90%;
        background-image: url(../assets/img/perfil.JPG);
        background-size: cover;
        object-fit: cover;
        order: 1; }
      header .nav_interior .redes a {
        font-size: 4rem;
        margin: 2rem;
        color: aliceblue;
        order: 2;
        transition: transform 600ms; }
        header .nav_interior .redes a:active {
          color: #F2FF00;
          transform: scale(1.5, 1.5); }
  header .nav_interior_menu a {
    font-size: 3rem;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    padding-right: 1rem;
    color: aliceblue; }
    header .nav_interior_menu a:active {
      color: #F2FF00;
      border-right: #1D1C0D 0.3rem solid; }
  header .nav_interior_menu .icon_menu {
    position: relative;
    top: -0.5rem;
    margin-right: 2rem;
    font-size: 2.5rem; }

/*RESPONSIVE*/
@media (min-width: 768px) {
  header .nav_interior .redes a:hover {
    color: #F2FF00;
    transform: scale(1.5, 1.5); }
  header .nav_interior .redes img {
    display: block; }
  header .nav_interior_menu a:hover {
    color: #F2FF00;
    border-right: #1D1C0D 0.3rem solid; } }

/* ESTILOS SLIDER */
.cont_slider {
  height: 50%;
  margin-top: 1rem;
  background-image: url(../assets/img/f_sliderd.jpg);
  background-size: cover;
  background-attachment: fixed; }
  .cont_slider .filtro {
    padding-top: 5rem;
    height: 100%;
    backdrop-filter: blur(2px); }
    .cont_slider .filtro .slider {
      width: 80%;
      padding-top: 5rem;
      padding-bottom: 5rem; }
      .cont_slider .filtro .slider .carousel-item {
        height: 50%; }
        .cont_slider .filtro .slider .carousel-item img {
          object-fit: contain; }

/* SECCION SOBRE MI */
.sobre__mi {
  min-height: 60rem;
  background-image: url(../assets/img/yo_c.JPG);
  background-attachment: fixed;
  background-size: cover; }
  .sobre__mi h1 {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 15px;
    margin-bottom: 4rem;
    background-color: rgba(240, 248, 255, 0.24);
    color: aliceblue;
    text-shadow: 5px 0px 1px #1D1C0D; }
  .sobre__mi .sobre_mi_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    min-height: 50%;
    margin-left: 3rem;
    padding-bottom: 1rem;
    font-family: "Roboto Slab", serif;
    color: #fff;
    font-size: 2rem;
    border-radius: 1rem;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px); }

/* SECCION PORTFOLIO */
#portfolio {
  min-height: 60rem;
  max-height: 100%;
  background-image: url(../assets/img/fondo_port.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }
  #portfolio h2 {
    text-align: center;
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 15px;
    margin-bottom: 7rem;
    font-family: "Oswald", sans-serif;
    background-color: rgba(240, 248, 255, 0.24);
    color: #fff;
    text-shadow: 5px 0px 1px #1D1C0D; }
  #portfolio .porfolio_card {
    background-color: rgba(148, 147, 93, 0.3);
    backdrop-filter: blur(5px);
    border-radius: 0.5rem;
    box-shadow: 0 0 10px #1D1C0D; }
    #portfolio .porfolio_card .text p {
      font-size: 1.5rem;
      color: aliceblue;
      letter-spacing: 2px;
      font-family: "Roboto Slab", serif; }
    #portfolio .porfolio_card .text a {
      font-size: 2.5rem;
      background-color: #459F92;
      font-family: "Oswald", sans-serif;
      border: 0.8rem solid #459F92;
      color: aliceblue;
      transition: all 400ms; }
      #portfolio .porfolio_card .text a:active {
        background-color: aliceblue;
        color: #459F92; }

@media (min-width: 1000px) {
  .cont_slider {
    height: 100vh;
    margin-top: 3rem; }
  #portfolio .porfolio_card .text a:hover {
    background-color: aliceblue;
    color: #459F92; } }

footer {
  background-color: black;
  display: flex;
  flex-direction: column; }
  footer .footer__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3rem; }
    footer .footer__nav a {
      color: aliceblue;
      text-decoration: none;
      font-size: 3rem;
      letter-spacing: 5px;
      margin-bottom: 2rem; }
      footer .footer__nav a:active {
        color: #F2FF00; }
  footer .footer__redes {
    display: flex;
    justify-content: space-around; }
    footer .footer__redes a {
      font-size: 5rem;
      margin: 2rem;
      margin-bottom: 3rem;
      color: aliceblue;
      transition: transform 600ms; }
      footer .footer__redes a:active {
        color: #F2FF00;
        transform: scale(1.5, 1.5); }
  footer .footer__section__1 {
    min-height: 40px;
    background-color: #1D1C0D;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: aliceblue;
    padding: 2rem; }

/* responsive */
@media (min-width: 768px) {
  footer .footer__nav {
    flex-direction: row;
    justify-content: space-around;
    padding-top: 1rem; }
    footer .footer__nav a {
      width: fit-content;
      padding: 0.5rem;
      border: solid 0.3rem black;
      font-size: 2rem; }
      footer .footer__nav a:hover {
        color: #F2FF00;
        border-left: solid 0.3rem #fff; }
  footer .footer__redes {
    justify-content: center; }
    footer .footer__redes a {
      margin: 2rem; }
      footer .footer__redes a:hover {
        color: #F2FF00;
        transform: scale(1.5, 1.5); } }

.main__galeria {
  background-image: url(../assets/img/fondo_galeriab.jpg);
  padding: 5rem;
  padding-top: 10rem;
  color: #1D1C0D; }
  .main__galeria .section__galeria h1 {
    width: 90vw;
    font-size: 500%;
    text-transform: uppercase;
    letter-spacing: 10px;
    margin-bottom: 5rem;
    padding: 1rem;
    font-family: "Oswald", sans-serif;
    border: #1D1C0D solid 0.5rem; }
  .main__galeria .section__galeria p {
    font-size: 2rem;
    margin-bottom: 50px;
    font-family: "Roboto Slab", serif; }

/*RESPONSIVE*/
@media (min-width: 768px) {
  .main__galeria .section__galeria .hover_img img {
    transition: all 1s; }
    .main__galeria .section__galeria .hover_img img:hover {
      transform: scale(1.5, 1.5);
      cursor: pointer; } }

.main__video {
  background-image: url(../assets/img/fondo_galeriab.jpg);
  color: #1D1C0D;
  padding: 5rem;
  padding-top: 10rem; }
  .main__video .section__videos h1 {
    width: 90vw;
    font-size: 500%;
    text-transform: uppercase;
    letter-spacing: 10px;
    margin-bottom: 5rem;
    padding: 1rem;
    font-family: "Oswald", sans-serif;
    border: #1D1C0D solid 0.5rem; }
  .main__video .section__videos p {
    font-size: 2rem;
    margin-bottom: 50px;
    font-family: "Roboto Slab", serif; }
  .main__video .video iframe {
    width: 90vw;
    height: 300px; }

/*RESPONSIVE*/
@media (min-width: 768px) {
  .main__video .video iframe {
    width: 50vw; } }

.main__cv {
  background-image: url(../assets/img/denim.webp);
  color: aliceblue;
  padding-top: 5rem; }
  .main__cv .section__cv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem; }
    .main__cv .section__cv h1 {
      width: 90vw;
      font-size: 500%;
      text-transform: uppercase;
      letter-spacing: 10px;
      margin-bottom: 5rem;
      padding: 1rem;
      font-family: "Oswald", sans-serif;
      border: #1D1C0D solid 0.5rem;
      border-color: aliceblue;
      margin-bottom: 10rem; }
    .main__cv .section__cv p {
      font-size: 2rem;
      margin-bottom: 50px;
      font-family: "Roboto Slab", serif; }
    .main__cv .section__cv img {
      width: 90%;
      border-left: aliceblue solid 0.5rem;
      border-top: aliceblue solid 0.5rem;
      box-shadow: 3rem 3rem 1px rgba(0, 0, 0, 0.8); }
    .main__cv .section__cv .bton_descargar {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 20rem;
      height: 4rem;
      text-transform: uppercase;
      letter-spacing: 0.5rem;
      margin-top: 10rem;
      background-color: #F2FF00;
      transition: all 600ms; }
      .main__cv .section__cv .bton_descargar a {
        text-decoration: none;
        color: #1D1C0D;
        font-family: "Oswald", sans-serif; }
      .main__cv .section__cv .bton_descargar:hover {
        transform: scale(1.2, 1.2);
        cursor: pointer;
        box-shadow: 1rem 1rem 1px rgba(0, 0, 0, 0.8); }

.main__contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../assets/img/fondo_galeriab.jpg);
  padding-top: 10rem;
  color: #1D1C0D; }
  .main__contacto h1 {
    width: 90vw;
    font-size: 500%;
    text-transform: uppercase;
    letter-spacing: 10px;
    margin-bottom: 5rem;
    padding: 1rem;
    font-family: "Oswald", sans-serif;
    border: #1D1C0D solid 0.5rem;
    overflow: hidden; }
  .main__contacto .contacto_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90vw; }
    .main__contacto .contacto_info .contacto_text {
      background: linear-gradient(rgba(29, 28, 13, 0.5), rgba(29, 28, 13, 0.5)), url(../assets/img/fondo_contacto.JPG);
      background-size: cover;
      background-position: left;
      min-height: 55rem;
      padding-top: 3rem;
      background-color: rgba(29, 28, 13, 0.8);
      border: solid 0.5rem aliceblue; }
      .main__contacto .contacto_info .contacto_text h2 {
        text-align: center;
        font-size: 2rem;
        font-weight: bold;
        padding-bottom: 2rem;
        font-family: "Oswald", sans-serif;
        color: aliceblue;
        text-transform: uppercase;
        letter-spacing: 15px;
        letter-spacing: 5px; }
      .main__contacto .contacto_info .contacto_text p {
        font-size: 2rem;
        margin-bottom: 50px;
        font-family: "Roboto Slab", serif;
        color: aliceblue;
        padding: 0 2rem; }
      .main__contacto .contacto_info .contacto_text .link a {
        font-size: 5rem;
        color: aliceblue; }
      .main__contacto .contacto_info .contacto_text .link .link_wassap {
        display: flex;
        align-items: center; }
        .main__contacto .contacto_info .contacto_text .link .link_wassap h3 {
          color: aliceblue;
          order: 2;
          letter-spacing: 5px; }
        .main__contacto .contacto_info .contacto_text .link .link_wassap a {
          transition: transform 600ms; }
          .main__contacto .contacto_info .contacto_text .link .link_wassap a:active {
            color: #F2FF00;
            transform: scale(1.5, 1.5); }
      .main__contacto .contacto_info .contacto_text .link .link_email {
        display: flex;
        align-items: center; }
        .main__contacto .contacto_info .contacto_text .link .link_email h3 {
          color: aliceblue;
          order: 2;
          letter-spacing: 2px; }
        .main__contacto .contacto_info .contacto_text .link .link_email a {
          transition: transform 600ms; }
          .main__contacto .contacto_info .contacto_text .link .link_email a:active {
            color: #F2FF00;
            transform: scale(1.5, 1.5); }
    .main__contacto .contacto_info .contacto_form {
      background: linear-gradient(rgba(29, 28, 13, 0.5), rgba(29, 28, 13, 0.5)), url(../assets/img/fondo_contacto.JPG);
      background-size: cover;
      background-position: right;
      min-height: 55rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: rgba(29, 28, 13, 0.8);
      border: solid 0.5rem aliceblue; }
      .main__contacto .contacto_info .contacto_form form {
        width: 70%;
        padding-top: 3rem; }
        .main__contacto .contacto_info .contacto_form form input {
          width: 100%;
          margin-bottom: 3rem;
          font-size: 2rem;
          border: solid 0.5rem #94935D;
          border-radius: 1rem; }
        .main__contacto .contacto_info .contacto_form form textarea {
          width: 100%;
          font-size: 2rem;
          max-height: 15rem;
          min-height: 15rem;
          margin-bottom: 3rem;
          border: solid 0.5rem #94935D;
          border-radius: 1rem; }
        .main__contacto .contacto_info .contacto_form form #boton {
          font-size: 3rem;
          background-color: #459F92;
          font-family: "Oswald", sans-serif;
          border: 0.8rem solid #459F92;
          color: aliceblue; }
          .main__contacto .contacto_info .contacto_form form #boton:active {
            background-color: aliceblue;
            color: #459F92; }
  .main__contacto .contacto_maps {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5rem;
    margin-top: 3rem; }
    .main__contacto .contacto_maps .map {
      box-shadow: 0px 0px 16px 9px black;
      -webkit-box-shadow: 0px 0px 16px 9px black;
      -moz-box-shadow: 0px 0px 16px 9px black; }

/*RESPONSIVE*/
@media (min-width: 992px) {
  .main__contacto .contacto_info .contacto_text {
    border: none;
    margin-right: 1rem; }
    .main__contacto .contacto_info .contacto_text .link a {
      transition: transform 600ms; }
      .main__contacto .contacto_info .contacto_text .link a:hover {
        color: #F2FF00;
        transform: scale(1.5, 1.5); }
  .main__contacto .contacto_info .contacto_form {
    border: none; }
    .main__contacto .contacto_info .contacto_form form {
      border: solid 0.5rem aliceblue;
      padding: 2rem; }
      .main__contacto .contacto_info .contacto_form form #boton {
        transition: all 400ms; }
        .main__contacto .contacto_info .contacto_form form #boton:hover {
          background-color: aliceblue;
          color: #459F92; } }

.body_404 {
  background-image: url(../assets/img/fondo_404.JPG);
  background-size: cover;
  background-position: bottom;
  height: 100vh; }
  .body_404 .main_404 p {
    background-color: black;
    font-size: 2rem;
    margin-bottom: 50px;
    font-family: "Roboto Slab", serif;
    color: aliceblue;
    font-size: 2rem;
    margin-bottom: 30rem; }
  .body_404 .main_404 div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .body_404 .main_404 div a {
      text-decoration: none;
      text-align: center;
      letter-spacing: 10px; }
      .body_404 .main_404 div a .bton_volver {
        padding: 1rem;
        width: fit-content;
        height: 4rem;
        background-color: #459F92;
        font-family: "Oswald", sans-serif;
        border: 0.3rem solid #459F92;
        color: aliceblue;
        border-radius: 1rem;
        transition: all 400ms; }
        .body_404 .main_404 div a .bton_volver:hover {
          background-color: aliceblue;
          color: #459F92; }

/*RESPONSIVE*/
@media (min-width: 768px) {
  .body_404 {
    background-position: center; }
    .body_404 .main_404 p {
      margin-bottom: 35rem; } }
