body{
        background-image: url(../assets/img/fondo_404.JPG);
        background-size: contain;
        background-repeat: repeat;
    .main_404{
            p{
                background-color: black;
                @include p_paginas;
                color: aliceblue;
                font-size: 3rem;
                margin-bottom: 40rem;
            }
            div{
                @include cont_flex(column,center,center);
                a{
                    text-decoration: none;
                    text-align: center;
                    letter-spacing: 10px;
                    .bton_volver{
                        padding: 1rem;
                        width: fit-content;
                        height: 4rem;
                        background-color:map-get($map:$colores-pagina, $key:bton );
                        font-family:$tipografia-titulos;
                        border: 0.3rem solid #459F92;
                        color: aliceblue;
                        border-radius: 1rem;
                        transition: all 400ms;
                    &:hover{
                        background-color: aliceblue; 
                        color: #459F92;
                            }
                    }
                    
                }
            }
        }
}

/*RESPONSIVE*/

@media(min-width:768px){
    body{
        background-size: cover;
        background-repeat: no-repeat;
        .main_404{
            p{
                margin-bottom: 50rem;
            }
        }
    }
}

