footer{
    background-color: black;
    /* height: 150px; */
    display: flex;
    flex-direction: column;
    .footer__nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding:2rem;
        a{
            color: aliceblue;
            text-decoration: none;
            font-size: 2rem;
            letter-spacing: 5px;
            margin-bottom: 3rem;
            &:hover{
                color: #F2FF00;
            }
        }
    }
    .footer__redes{
        display: flex;
        justify-content: space-around;
        a{
        font-size: 4rem;
        margin: 10px;
        color: aliceblue;
            &:hover{
                color: #F2FF00;
            }
        }   
    }
    .footer__section__1{
        height: 40px;
        background-color:#1D1C0D;
        text-transform: uppercase;
        letter-spacing: 5px;
        color: aliceblue;
        padding: 2rem;
    }
}

/* responsive */

@media(min-width:768px){
    footer{
        .footer__nav{
            flex-direction: row;
            justify-content: space-around;
            padding-top: 5rem;    
            height: 1rem;
        }
        .footer__redes{
            justify-content: center;
            height: 12rem;
            a{
                margin: 5rem;
            }
        }
    }
}