footer{
    background-color: black;
    display: flex;
    flex-direction: column;
    .footer__nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top:3rem;
        a{
            color: aliceblue;
            text-decoration: none;
            font-size: 3rem;
            letter-spacing: 5px;
            margin-bottom: 2rem;
            
            &:hover{
                color: map-get($map:$colores-pagina, $key:hover);
            }
        }
    }
    .footer__redes{
        display: flex;
        justify-content: space-around;
        a{
        font-size: 5rem;
        margin:2rem;
        margin-bottom: 3rem;
        color: aliceblue;
        transition:transform 600ms;
            &:hover{
                color: map-get($map:$colores-pagina, $key:hover);
                transform: scale(1.5,1.5);
            }
        }   
    }
    .footer__section__1{
        height: 40px;
        background-color:map-get($map:$colores-pagina , $key:principal );
        text-transform: uppercase;
        letter-spacing: 5px;
        color: aliceblue;
        padding: 2rem;
    }
}

/* responsive */

@media(min-width:768px){
    footer{
        .footer__nav{
            flex-direction: row;
            justify-content: space-around;
            padding-top: 1rem;
               
            a{
                width: fit-content;
                padding: 0.5rem;
                border:solid 0.3rem black;
                font-size:2rem;
                &:hover{
                    border-left:solid 0.3rem #fff;
                }
            }
            }
        .footer__redes{
            justify-content:center;
            a{
                margin: 2rem;
            }
        }
    }
}