header{
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    z-index: 10;
    .nav_exterior{
        background-color: map-get($colores-pagina, principal);  
        a{
            font-size: 1rem;
            font-family:$tipografia-titulos;
            color: map-get($map:$colores-pagina , $key:titulos );
            .icon{
                width: 50px;
                height: 50px;
            }
            h1{ 
                font-size: 2rem;
                padding:0 1rem;
                border-right:solid aliceblue;
            }
            span{
                font-family: $tipografia-general;
                padding:0 1rem;
                font-size: 1.5rem;
            }
        }
        .bton_menur{ 
            border: solid 0.5rem #94935D;
            font-size: 1rem;
            margin: 0 auto;
        }
    }
    .nav_interior{
        background-image: url(../assets/img/f_menu_interior2.svg);
        .redes{
            width: fit-content;
            height: 50%;
            display: flex;
            align-items: center;
            border: solid 0.3rem #F2FF00;
            border-radius: 10rem;
            background-color: rgba(29, 28, 13,0.8);
            #what{
                color:#25D366;
            }
            a{
                font-size: 4rem;
                margin: 2rem;
                color: map-get($map:$colores-pagina , $key:titulos); 
                order: 2;
                transition:transform 600ms;
                &:active{
                    color: map-get($map:$colores-pagina, $key:hover);
                    transform: scale(1.5,1.5);
                }
            }
        }
    }
    .nav_interior_menu{
        a{
            font-size: 3rem;
            font-family: 'Oswald', sans-serif;
            text-decoration: none;
            padding-right: 1rem;
            color: map-get($map:$colores-pagina, $key:titulos );
            &:active{
                color:map-get($map:$colores-pagina, $key:hover );
            }
        }
        .icon_menu{
            position: relative;
            top:-0.5rem;
            margin-right: 2rem;
            font-size: 2.5rem;
        }
    }  
}

/*RESPONSIVE*/

@media(min-width:992px){
    header{
        .nav_exterior{
            background-color: map-get($colores-pagina, principal);
            a{
                font-family:$tipografia-titulos;
                color: map-get($map:$colores-pagina , $key:titulos );
                .icon{
                    width: 100px;
                    height: 100px;
                }
                h1{ 
                    font-size: 3rem;
                    padding:0 1rem;
                    border-right:solid aliceblue;
                }
                span{
                    font-family: $tipografia-general;
                    padding:0 1rem;
                    font-size: 2rem;
                }
            }
            .bton_menur{ 
                border: solid 0.3rem;
                color: map-get($map:$colores-pagina , $key:hover);
                font-size: 2rem;
                margin-left: 45%;
            }
        }
        .nav_interior{
            .redes{
                a{
                    &:hover{
                        color: map-get($map:$colores-pagina, $key:hover);
                        transform: scale(1.5,1.5);
                    }
                }
            }
        }
        .nav_interior_menu{
            a{
                &:hover{
                    color:map-get($map:$colores-pagina, $key:hover );
                }
            }
        }
    }
}