header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    .nav_exterior{
        background-color: map-get($colores-pagina, principal);
        a{
            font-size: 3rem;
            font-family:$tipografia-titulos;
            color: map-get($map:$colores-pagina , $key:titulos );
            h1{ 
                font-size: 3rem;
                padding:0 1rem;
                border-right:solid aliceblue;
            }
            span{
                font-family: $tipografia-general;
                padding-left: 1rem;
                font-size: 2rem;
            }
        }
        .bton_menur{ 
            border: solid 0.5rem #94935D;
            font-size: 2rem;
        }
    }
    .nav_interior{
        background-image: url(../assets/img/f_menu_interior2.svg);
        .redes{
            display: flex;
            align-items: center;
            #what{
                color:#25D366;
            }
            a{
                font-size: 4rem;
                margin: 2rem;
                color: map-get($map:$colores-pagina , $key:titulos); 
                order: 2;
                transition:transform 600ms;
                &:active{
                    color: map-get($map:$colores-pagina, $key:hover);
                    transform: scale(1.5,1.5);
                }
            }
        }
    }
    .nav_interior_menu{
        a{
            font-size: 3rem;
            font-family: 'Oswald', sans-serif;
            text-decoration: none;
            padding-right: 1rem;
            color: map-get($map:$colores-pagina, $key:titulos );
            &:active{
                color:map-get($map:$colores-pagina, $key:hover );
            }
        }
        .icon_menu{
            position: relative;
            top:-0.5rem;
            margin-right: 2rem;
            font-size: 2.5rem;
        }
    }  
}

/*RESPONSIVE*/

@media(min-width:768px){
    header{
        .nav_interior{
            .redes{
                a{
                    &:hover{
                        color: map-get($map:$colores-pagina, $key:hover);
                        transform: scale(1.5,1.5);
                    }
                }
            }
        }
        .nav_interior_menu{
            a{
                &:hover{
                    color:map-get($map:$colores-pagina, $key:hover );
                }
            }
        }
    }
}