
/* ESTILOS SLIDER */

.cont_slider{
    height: 60%;
    background-image: url(../assets/img/f_sliderb.jpg);
    background-size:cover;
    background-attachment: fixed;
        .slider{
            width: 80%;
            padding-top: 12rem;
            padding-bottom: 2rem;
            .carousel-item{
                height: 50%;
                img{
                    object-fit:contain; 
                }
            }
        }
    } 

/* SECCION SOBRE MI */

.sobre__mi{
    min-height: 100rem;
    background-image: url(../assets/img/f_sliderb.jpg   );
    background-size: cover;
    .sobre_mi_h2{
        min-height: 20rem;
        background-image: url(../assets/img/f_sobremi.jpg);
        background-size: cover;
        background-attachment: fixed;
        margin-bottom : 5%;
        h2{
            width: 90%;
            font-family:$tipografia-titulos;
            font-weight: 500;
            text-align: center;
            font-size: 3rem;
            @include texto-mayus;
            color: map-get($map:$colores-pagina , $key:titulos );
            text-shadow: 5px 0px 1px #1D1C0D;
            border:aliceblue solid 0.5rem;
        }
    }
    
    .img_yo{
        height: 20rem;
        border-radius: 100px 0px 100px 0px;
        background-image: url(../assets/img/yo_c.JPG);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        object-fit: cover;
        margin-bottom: 5%;
    }
    .sobre_mi_text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 50%;
        padding:2rem;
        margin-bottom:5%;
        border: #1D1C0D solid 0.3rem;
        p{
            font-family:$tipografia-general;
            font-weight: 600;
            color: #1D1C0D;
            font-size: 2rem;
            text-align:start;
            i{
                color: #1D1C0D;
                font-size: 4rem;
                background: #d6249f;
                background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
                box-shadow: 0px 3px 10px rgba(0,0,0,.25);
                border-radius: 1rem;
                margin-left: 1rem;
                transition:transform 600ms;
                animation-name: insta;
                animation-duration: 2s;
                animation-iteration-count:infinite; 
                // animacion
                @keyframes insta {
                    0%{
                        transform: scale(1,1);
                    }
                    50%{
                        transform: scale(1.5,1.5);
                    }
                    100%{
                        transform: scale(1,1);
                    }
                }
                &:hover{
                    transform: scale(1.5,1.5);
                }
            }
        }
    }
}

/* SECCION PORTFOLIO */

#portfolio{
    min-height: 70rem;
    background-image: url(../assets/img/f_sliderb.jpg);
    background-size: cover;
    padding-bottom: 5%;
    overflow: hidden; 
    .portfolio_h2{
        min-height: 20rem;
        background-image: url(../assets/img/fondo_port.JPG);
        background-position: center;
        background-size:cover;
        background-attachment: fixed;
        margin-bottom: 1%;
        h2{
            width: 90%;
            font-family:$tipografia-titulos;
            font-weight: 500;
            text-align: center;
            font-size: 3rem;
            @include texto-mayus;
            color: map-get($map:$colores-pagina , $key:titulos );
            text-shadow: 5px 0px 1px #1D1C0D;
            border:aliceblue solid 0.5rem;
            }
    }
    
    .porfolio_card{
        a{
            .card{
                border-radius: 1rem;
            }
            
          &:hover{
            img{
                filter: contrast(100%);
            }
          }
            img{
                border-radius: 1rem;
                box-shadow: 5px 5px 3px #1D1C0D;
            }
                h3{
                    width: 50%;
                    border: aliceblue solid 0.3rem;
                    text-align: center;
                    font-size: 2rem;
                    text-transform: uppercase;
                }
        }
    }
}

// RESPONSIVE
@media(min-width:992px){
    .cont_slider{
        height:100vh;
        margin-top:3rem; 
    }
    #portfolio{
        .portfolio_h2{
            
            h2{
                width: 30%;
                font-size: 5rem;
            }
        }
        .porfolio_card{
                a{
                    &:hover{
                        img{
                            filter: contrast(100%);
                        }
                    }
                    img{
                        filter: contrast(50%);
                        transition: all 600ms;
                    }
                        h3{
                            width: 30%;
                            border: aliceblue solid 0.3rem;
                            text-align: center;
                            font-size: 3.5rem;
                            text-transform: uppercase;
                            margin-top: 25%;
                        } 
                }
            }
        }
        .sobre__mi{
            .sobre_mi_h2{
                margin-bottom: 1%;
                h2{
                    width:30% ;
                    font-size: 5rem;
                }
            }
            .img_yo{
                height: 40rem;
                box-shadow: 5px 5px 15px #1D1C0D;
            }
            .sobre_mi_text{
                p{
                    font-size: 2.5rem;
                }
            }
        }
    }

