.main__cv{
    background-image: url(../assets/img/denim.webp);
    color: map-get($map:$colores-pagina , $key:titulos );
    padding-top: 5rem;
    .section__cv{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5rem;
        h1{
           @include h1_paginas;
           border-color: aliceblue;
           margin-bottom: 15rem;
        }
        p{
            @include p_paginas;
        }
        img{
            width: 90%;
            border-left: aliceblue solid 0.5rem;
            border-top: aliceblue solid 0.5rem;
            box-shadow:3rem 3rem 1px rgba(0,0,0,0.8);
            
        }
        .bton_descargar{
            a{
                text-decoration: none;
                color: #1D1C0D;
                font-family:$tipografia-titulos;
            }
            display: flex;
            align-items: center;
            justify-content: center;
            width: 20rem;
            height: 4rem;
            text-transform: uppercase;
            letter-spacing: 0.5rem;
            margin-top: 10rem;
            background-color:#F2FF00;
            transition: all 600ms;
            &:hover{
                transform: scale(1.2,1.2);
                cursor: pointer;
                box-shadow: 1rem 1rem 1px rgba(0,0,0,0.8);
            }
        }
    }
}  