.main__video{
    display: flex;
    background-image: url(../assets/img/denim.webp);
    color: aliceblue;
    align-items: center;
    justify-content: center;
    padding: 5rem;
    .section__videos{
        h2{
            font-size: 3rem;
            text-transform: uppercase;
            letter-spacing: 10px;
            margin-bottom: 10px;
        }
        p{
            font-size:2rem;
            margin-bottom: 50px;
        }
    }
}