.main__contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../assets/img/fondo_galeriab.jpg);
    padding-top: 10rem;
    color:map-get($map:$colores-pagina , $key:principal );
    h1{
        @include h1_paginas;
        overflow:hidden;
    }
    .contacto_info{
        display: flex;
        // padding: 5rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90vw;
        .contacto_text{
            background: linear-gradient(rgba(29, 28, 13,0.50),rgba(29,28,13,0.50)), url(../assets/img/fondo_contacto.JPG);
            background-size: cover;
            background-position: left;
            min-height: 55rem;
            padding-top:3rem;
            background-color: rgba(29, 28, 13,0.8); 
            border: solid 0.5rem aliceblue;
            h2{
                text-align: center;
                font-size: 2rem;
                font-weight: bold;
                padding-bottom: 2rem;
                font-family:$tipografia-titulos;
                color: map-get($map:$colores-pagina , $key:titulos);
                @include texto-mayus;
                letter-spacing: 5px; 
            }
            p{
                @include p_paginas;
                color: map-get($map:$colores-pagina, $key:titulos);
                padding: 0 2rem;
            }
            .link{
                a{
                    font-size: 5rem;
                    color:map-get($map:$colores-pagina , $key:titulos );
                }
                .link_wassap{
                    display: flex;
                    align-items: center;
                    h3{
                        color: aliceblue;
                        order: 2;
                        letter-spacing: 5px;
                    }
                    a{
                        transition: $hover-scale;
                        &:active{
                            @include estilos_hover;
                        }
                    }
                }
                .link_email{
                    display: flex;
                    align-items: center;
                    h3{
                        color: aliceblue;
                        order: 2;
                        letter-spacing: 2px;
                    }
                    a{
                        transition: $hover-scale;
                        &:active{
                            @include estilos_hover;
                        }
                    }
                }
            }
        }
        .contacto_form{
            background: linear-gradient(rgba(29, 28, 13,0.50),rgba(29,28,13,0.50)), url(../assets/img/fondo_contacto.JPG);
            background-size: cover;
            background-position: right;
            min-height: 55rem;
            display: flex;
            flex-direction: column;
            justify-content:center;
            align-items: center;
            background-color: rgba(29, 28, 13,0.8);
            border: solid 0.5rem aliceblue;
            form{
                width: 70%;
                padding-top: 3rem;
                input{
                    width: 100%;
                    margin-bottom: 3rem; 
                    font-size: 2rem;
                    border: solid 0.5rem map-get($map:$colores-pagina , $key:secundario);
                    border-radius: 1rem;
                }
                textarea{
                    width: 100%;
                    font-size: 2rem;
                    max-height: 15rem;
                    min-height: 15rem;
                    margin-bottom: 3rem;
                    border: solid 0.5rem map-get($map:$colores-pagina , $key:secundario);
                    border-radius: 1rem;
                }
                #boton{
                    font-size: 3rem;
                    background-color:map-get($map:$colores-pagina, $key:bton );
                    font-family:$tipografia-titulos;
                    border: 0.8rem solid #459F92;
                    color: aliceblue;
                    &:active{
                        background-color: aliceblue;  
                        color: #459F92;
                            }
                }
            }
        }
    }
    .contacto_maps{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 5rem;
        margin-top: 3rem;
        .map{
            box-shadow: 0px 0px 16px 9px rgba(0,0,0,1);
            -webkit-box-shadow: 0px 0px 16px 9px rgba(0,0,0,1);
            -moz-box-shadow: 0px 0px 16px 9px rgba(0,0,0,1);
        }
    }
}

/*RESPONSIVE*/

@media (min-width:992px){
    .main__contacto{
        .contacto_info{
            .contacto_text{
                border: none;
                margin-right: 1rem;
                .link{
                    a{
                        transition: $hover-scale;
                        &:hover{
                                @include estilos_hover;
                            } 
                        }
                    }
                }
                .contacto_form{
                    border: none;
                    form{
                        border: solid 0.5rem aliceblue;
                        padding: 2rem;
                        #boton{
                            transition: all 400ms;
                            &:hover{
                                background-color: aliceblue;  
                                color: #459F92;
                            }
                        }
                    }
                }
            }
            
        }
    }