
/* ESTILOS SLIDER */

.cont_slider{
    height: 60%;
    background-image: url(../assets/img/f_prueba4.svg);
    background-size:cover;
    background-attachment: fixed;
    .filtro{
        padding-top: 5rem;
        height: 100%;
        // backdrop-filter:blur(2px);
        .slider{
            width: 80%;
            padding-top: 5rem;
            padding-bottom: 5rem;
            .carousel-item{
                height: 50%;
                img{
                    object-fit:contain; 
                }
            }
        }
    } 
}

/* SECCION SOBRE MI */

.sobre__mi{
    min-height: 80rem;
    background-image: url(../assets/img/f_sliderb.jpg   );
    background-size: cover;
    .sobre_mi_h2{
        min-height: 20rem;
        background-image: url(../assets/img/f_sobremi.jpg);
        background-size: cover;
        background-attachment: fixed;
        margin-bottom : 10%;
        h2{
            width: 30%;
            font-family:$tipografia-titulos;
            font-weight: 400;
            text-align: center;
            font-size: 4rem;
            @include texto-mayus;
            color: map-get($map:$colores-pagina , $key:titulos );
            text-shadow: 5px 0px 1px #1D1C0D;
            border:aliceblue solid 0.5rem;
        }
    }
    
    .img_yo{
        border-radius: 100px 0px 100px 0px;
        background-image: url(../assets/img/yo_c.JPG);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        object-fit: cover;
        margin-right: 3rem; 
    }
    .sobre_mi_text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        min-height: 50%;
        padding-bottom: 1rem;
        border: #1D1C0D solid 0.5rem;
        p{
            font-family:$tipografia-general;
            font-weight: 600;
            color: #1D1C0D;
            font-size: 2rem;
            padding: 1rem;
        }
    }
}

/* SECCION PORTFOLIO */

#portfolio{
    min-height: 80rem;
    background-image: url(../assets/img/fondo_port.svg);
    background-size: cover;
    .portfolio_h2{
        min-height: 20rem;
        background-image: url(../assets/img/fondo_port.JPG);
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        margin-bottom: 1%;
        h2{
            width: 30%;
            font-family:$tipografia-titulos;
            font-weight: 400;
            text-align: center;
            font-size: 4rem;
            @include texto-mayus;
            color: map-get($map:$colores-pagina , $key:titulos );
            text-shadow: 5px 0px 1px #1D1C0D;
            border:aliceblue solid 0.5rem;
            }
    }
    
    .porfolio_card{
        a{
            .card{
                border-radius: 1rem;
            }
            
          &:hover{
            img{
                filter: contrast(100%);
            }
          }
            img{
                border-radius: 1rem;
                filter: contrast(50%);
                transition: all 600ms;
            }
            .text{
                
                font-size: 1.5rem;
                h3{
                    width: 30%;
                    border: aliceblue solid 0.3rem;
                    text-align: center;
                    font-size: 3rem;
                    text-transform: uppercase;
                }
            }
        }
    }
}

// RESPONSIVE
@media(min-width:1000px){
    .cont_slider{
        height:100vh;
        margin-top:3rem; 
    }
    #portfolio{
        .porfolio_card{
            .text{
                a{
                    &:hover{
                        background-color: aliceblue;  
                        color: #459F92;
                    }
                }
            }
        }
    }
}
