.main__galeria{
    background-image: url(../assets/img/fondo_galeriab.jpg);
    padding: 5rem;
    padding-top: 10rem;
    color: map-get($map:$colores-pagina , $key:principal );
    .section__galeria{
        h1{
         @include h1_paginas;
        }
        p{
            @include p_paginas;
        }
        .hover_img{
            img{
                transition:all 1s;
                &:hover{
                    transform: scale(1.5,1.5);
                    cursor: pointer;
                }
           }
        }
    }
}