.main__contacto{
    min-height: 80rem;
    background-image: url(../assets/img/f_prueba4.svg);
    background-size: cover;
    .main_contacto_h2{
        min-height: 20rem;
        background-image: url(../assets/img/f_contactob.jpg);
        background-position: bottom;
        background-size: cover;
        background-attachment: fixed;
        margin-bottom: 1%;
        h2{
            width: 30%;
            font-family:$tipografia-titulos;
            font-weight: 400;
            text-align: center;
            font-size: 4rem;
            @include texto-mayus;
            color: map-get($map:$colores-pagina , $key:titulos );
            text-shadow: 5px 0px 1px #1D1C0D;
            border:aliceblue solid 0.5rem;
            }
    }
    .contacto_info{
        padding: 5rem;
        .contacto_text{
            min-height: 40rem;
            padding-top:3rem;
            h3{
                text-align: center;
                font-size: 3rem;
                font-weight: bold;
                padding-bottom: 2rem;
                font-family:$tipografia-titulos;
                color: map-get($map:$colores-pagina , $key:principal);
                @include texto-mayus;
                letter-spacing: 5px; 
            }
            p{
                @include p_paginas;
                color: map-get($map:$colores-pagina, $key:principal);
                padding: 0 3rem;
            }
            .link{
                a{
                    font-size: 5rem;
                    color:map-get($map:$colores-pagina , $key:principal);
                }
                .link_wassap{
                    display: flex;
                    align-items: center;
                    h4{
                        font-size: 2rem;
                        color:map-get($map:$colores-pagina , $key:principal);
                        order: 2;
                        letter-spacing: 5px;
                    }
                    a{
                        transition: $hover-scale;
                        &:active{
                            @include estilos_hover;
                        }
                    }
                }
                .link_email{
                    display: flex;
                    align-items: center;
                    h4{
                        font-size: 2rem;
                        color:map-get($map:$colores-pagina , $key:principal);
                        order: 2;
                        letter-spacing: 2px;
                    }
                    a{
                        transition: $hover-scale;
                        &:active{
                            @include estilos_hover;
                        }
                    }
                }
            }
        }
    }
    .contacto_maps{
        display: flex;
        align-items: center;
        justify-content: center;
        .map{
            min-height: 40rem;
            border-radius: 3rem;
            box-shadow: 0 0 15px #1D1C0D;
        }
    }
}

/*RESPONSIVE*/

@media (min-width:992px){
    .main__contacto{
        .contacto_info{
            .contacto_text{
                border: none;
                margin-right: 1rem;
                .link{
                    a{
                        transition: $hover-scale;
                        &:hover{
                                @include estilos_hover;
                            } 
                        }
                    }
                }
                .contacto_form{
                    border: none;
                    form{
                        border: solid 0.5rem aliceblue;
                        padding: 2rem;
                        #boton{
                            transition: all 400ms;
                            &:hover{
                                background-color: aliceblue;  
                                color: #459F92;
                            }
                        }
                    }
                }
            }
            
        }
    }