.main__video{
    background-image: url(../assets/img/fondo_galeriab.jpg);
    color:map-get($map:$colores-pagina , $key:principal);
    padding: 5rem;
    padding-top: 10rem;
    .section__videos{
        h1{
           @include h1_paginas;
        }
        p{
            @include p_paginas;
        }
    }
}