/*VARIABLES*/
$tipografia-titulos:'Oswald', sans-serif;
$tipografia-general:'Roboto Slab', serif; 
$hover-scale: all 600ms;
$hamburger-layer-color:red!default;
/*MAPS*/
$colores-pagina:(
principal: #1D1C0D,
secundario: #94935D,
hover: #F2FF00,
bton: #459F92,
titulos: aliceblue,
);

/*MIXINS*/
@mixin h1_paginas{
    width:90vw;
    font-size: 500%;
    text-transform: uppercase;
    letter-spacing: 10px;
    margin-bottom: 5rem;
    padding: 1rem;
    font-family:$tipografia-titulos;
    border:map-get($map:$colores-pagina , $key:principal ) solid 0.5rem ;   
}
@mixin p_paginas {
    font-size: 2rem;
    letter-spacing: 3px;
    font-family:$tipografia-general;
}

@mixin estilos_hover{
    color: map-get($map:$colores-pagina, $key:hover);
    transform: scale(1.5,1.5);
}
@mixin texto-mayus {
    text-transform: uppercase;
    letter-spacing: 15px;
}
@mixin cont_flex($f_direction,$a_items,$j_content) {
    display: flex;
    flex-direction:$f_direction;
    align-items:$a_items;
    justify-content:$j_content;
}
